@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, rgb 217, 255, 222);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(0, 44, 0);
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1)

}

.navbar a {
    color: honeydew;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
h1,
h2 {
    color: rgb(0, 36, 0);
}

.slider {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgb(0, 36, 0);
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
    animation: slide 10s infinite;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
0%  { margin-left: 0%;
}
33% {
     margin-left: 0%;
 }
36% {
      margin-left: -100%;
  }
66% {
       margin-left: -100%;
   }
69% {
            margin-left: -200%;
        }
100% {   margin-left: -200%;
                 }}

.box {
    background-color: rgb(211, 255, 211);
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow:0 0 15px rgb(1, 42, 0);
}